@font-face {
    font-family: myFirstFont;
    src: url(../MouseMemoirs-Regular.ttf);
}
body{

 background-image: url("../pozadinaa.jpg");

}
#prvi{
margin-left: -20px;
	margin-top: 25px;
	width: 920px;
    height: 90px;
	/*border: 1px solid #73AD21;*/
}
.logoo {
margin-top:-10px;
	margin-left:70px;
	width: 400px;
    height: 260px;
}


#drugi{
	margin-left: 540px;
	margin-top: -35px;
	width: 920px;
    height: 30px;
	/*border: 3px solid #73AD21;*/
}
.menu_div
{
cursor: default;
}
.menu_div > ul > li
{
}

.menu_div ul
{
margin-left:-70px;
margin-top:-10px;
}
.menu_div li
{
display:inline-block;

}
.menu_div > ul > li > a{

	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	color:#CF897F;
	padding: 5px 60px;
	text-transform:capitalize;
	font-size: 170%;
	font-weight: bold;
	margin-left:-5px;
	font-variant: small-caps;
	text-align: center;
	transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
	/*-moz-border-radius: 7px;
	border-radius: 7px;
	background-color:#f3c2b1;
	border-style: solid;
	border-color:#ff8080;*/
}


.menu_div > ul > li > a:hover
{
	color: #7d9ec0;
}
.menu_div > ul > li > a:active
{
	opacity:0.7;
	
}
.cupcake
{
	width: 110px;
	height: 110px;
	margin-left: -65px;
	margin-bottom: -27px;
}


#cetvrti{
margin-left: 120px;
	margin-top: 220px;
	margin-bottom:200px;
	width: 1040px;
    height: auto;
	/*border: 3px solid #73AD21;*/
	text-decoration:none;
	/*background-color:#FFCCCC;*/
	/*color:#4d4d4d;*/
	font-family:Arial, Helvetica, sans-serif;
    text-decoration:none;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-transform:capitalize;
	font-weight:normal;
	/*border:1px;
	border-style: solid;
	border-color:#f3c2b1;*/
}
.ponuda_slika
{
    width: auto;
    height: 170px;
	margin-top:10px;
	margin-left:10px;
	border-radius:3px;
}
.naslov_ponude
{
font-family:myFirstFont;
margin-top:-30px;
margin-bottom:20px;
color:#CF897F;
text-transform:capitalize;
font-size: 360%;
font-variant: small-caps;
margin-left:70px;
}

.ponuda_torti
{
	margin-left:140px;
	margin-top:20px;
    width: 200px;
    height: auto;
	
}
.ponuda_kolača
{
margin-left:80px;
	margin-top:20px;
    width: 200px;
    height: auto;
}

.ponuda_kolačića
{
margin-left:80px;
	margin-top:20px;
    width: 200px;
    height: auto;
}


#greska{
	color:  #D2691E;
	text-shadow: 1px 1px 1px black;
	font-family:verdana;
	font-size: 150%;
	margin-left: -80px;
	margin-top: 150px;
}

.copyright
{
margin-left:570px;
font-size: 110%; 
font-family: myFirstFont; 
text-align:left;
color:#737373;
}

#footer-wrapper
{
background-color:#CF897F;
font-family:myFirstFont;
color:#47403F;
padding: 1px 0 1px 0;
}
.pitanje
{

font-size: 260%;
}

.poruka1
{
margin-left:440px;
margin-top:-80px;
}


#footer
{
margin-left:150px;

}

#footer section
{
float: left;
display:inline-block;

}

#footer tr
{
float: left;

}
#footer tr td input 
{
    width: 279px;
    height: 50px;
    display: inline-block;
    margin-bottom: 10px;
    background-color: #E5BEA2;
	font-family:myFirstFont;
	font-size:120%;
}

#footer tr td textarea
{
    width: 560px;
    height: 150px;
    display: inline-block;
    margin-bottom: 10px;
    background-color: #E5BEA2;
	font-family:myFirstFont;
	font-size:120%;
}

#o_nama section ul li
{
font-size:130%;
}